html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  min-height: 100%;
  background: url(./Bg-buttom.png) left bottom / 100% no-repeat,
    url(./Bg-up.png) right top/ 100% no-repeat #373af5;
  display: flex;
  flex-direction: column;
}

.header {
  flex-shrink: 0;
  padding: 2rem 0 2rem;
}

.heading {
  color: #fff;
  font-size: 5rem;
  max-width: 610px;
  margin: 0 auto;
  font-weight: bold;
}

.heading__left {
  display: block;
  text-align: left;
}

.heading__right {
  display: block;
  text-align: right;
  margin-top: -1rem;
}

.main_section {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.form {
  display: flex;
  justify-content: space-between;
  min-height: 52px;
}

.footer {
  flex-shrink: 0;
}

.footer__text {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.9rem;
}

@media screen and (max-width: 650px) {
  .heading {
    max-width: 370px;
    font-size: 3rem;
  }
  .heading__right {
    margin-top: -0.5rem;
  }

  .form {
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 120px;
  }
}

@media screen and (max-width: 380px) {
  .heading {
    max-width: 280px;
    font-size: 2.3rem;
  }
}
